# 忽略所有檔案
*

# 不忽略目錄 (以便可以遞迴尋找不忽略的檔案)
!*/

# 基本必要檔案
!.gitignore
!README.md
!requirements.txt
!LICENSE

# 僅開源的工具 (fetch 相關)
!src/utils/**

# 忽略 Python 相關暫存檔與套件
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
